.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-toggle {
	display: none;
  }
  
  .dropdown-label {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #fffafa00;
	border: none;
	cursor: pointer;
	position: relative;
  }
  
  .dropdown-label img {
	width: 45px;
	height: 45px;
	margin-right: 40px;
  }
  
  .dropdown-label span {
	margin-right: -10px;
  }
  
  .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	display: none;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color:#A9A9A9;
	
	border: 1px solid #ccc;
  }
  
  .dropdown-menu li {
	padding: 8px 16px;
  }
  
  .dropdown-menu li:hover {
	background-color: #aa6c39;
  }
  
  .dropdown-toggle:checked + .dropdown-label + .dropdown-menu {
	display: block;
  }
  